<!-- <header role="banner"> -->
	<div class="search-icon" id="search-trigger-overlay">
		<span></span>
	</div>
	<div class="container-fluid">
		<div class="row">

			<div class="hidden-md-up mobile-logo">
				<a href="/"> <img
					src='/-/media/images/header/2015_logo_horiz_notag_png.ashx?h=48&amp;w=200&amp;la=en&amp;hash=8DB828EE70B21A4DCFF15B31D51F1CD44F43A94C'
					alt='Perficient Logo' />
				</a>
			</div>
			<button class="navbar-toggler hidden-md-up" type="button"
				data-toggle="collapse" data-target="#mobilenav">
				<div class="menu-icon">
					<div class="center-bar"></div>
				</div>
			</button>

			<nav class="navbar navbar-full">
				<div class="collapse navbar-toggleable-sm" id="mobilenav">
					<div class="nav-block">
						<div class="main-nav">
							<ul>

								<li class="nav-item hidden-sm-down">
									<!-- Possible change here --> 

                                <a href="/" class="logo"> <img
										src='${properties.imagePath}'
										alt='${properties.imageName}' />
								</a> <!-- /Possible change here -->
								</li>
								<!-- BEGIN MAIN NAVIGATION -->

								<li class="nav-item "><a href="/services"
									class="nav-link dropdown-toggle" id="servicesMenu"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false"> Services </a>


									<div class="dropdown-menu mega-menu"
										aria-labelledby="servicesMenu">
										<div class="menu-title">
											<a href="/services">Services</a>
										</div>
										<div class="menu-block">
											<ul class="list-unstyled">
												<li class="mega-menu-item"><a href="/services/data">Data</a></li>
												<li class="mega-menu-item"><a href="/services/design">Design</a></li>
												<li class="mega-menu-item"><a
													href="/services/marketing">Marketing</a></li>
												<li class="mega-menu-item"><a
													href="/services/operations">Operations</a></li>
												<li class="mega-menu-item"><a href="/services/strategy">Strategy</a></li>
												<li class="mega-menu-item"><a
													href="/services/technology">Technology</a></li>
												<li class="mega-menu-item"><a
													href="/services/perficient-digital">Perficient Digital</a></li>
											</ul>
										</div>
									</div></li>
								<li class="nav-item "><a href="/industries"
									class="nav-link dropdown-toggle" id="servicesMenu"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false"> Industries </a>


									<div class="dropdown-menu mega-menu"
										aria-labelledby="servicesMenu">
										<div class="menu-title">
											<a href="/industries">Industries</a>
										</div>
										<div class="menu-block">
											<ul class="list-unstyled">
												<li class="mega-menu-item"><a
													href="/industries/automotive">Automotive</a></li>
												<li class="mega-menu-item"><a
													href="/industries/communications">Communications</a></li>
												<li class="mega-menu-item"><a
													href="/industries/consumer-markets">Consumer Markets</a></li>
												<li class="mega-menu-item"><a href="/industries/energy">Energy</a></li>
												<li class="mega-menu-item"><a
													href="/industries/financial-services">Financial
														Services</a></li>
												<li class="mega-menu-item"><a
													href="/industries/healthcare">Healthcare</a></li>
												<li class="mega-menu-item"><a
													href="/industries/high-tech">High Tech</a></li>
												<li class="mega-menu-item"><a
													href="/industries/life-sciences">Life Sciences</a></li>
												<li class="mega-menu-item"><a
													href="/industries/manufacturing">Manufacturing</a></li>
											</ul>
										</div>
									</div></li>
								<li class="nav-item "><a href="/partners"
									class="nav-link dropdown-toggle" id="servicesMenu"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false"> Partners </a>

									<div class="dropdown-menu mega-menu"
										aria-labelledby="partnerMenu">
										<div class="menu-title">
											<a href="/partners">Partners</a>
										</div>
										<div class="menu-block">
											<div class="nav-col first-col">
												<!-- added nav-col div | also has first-col class -->
												<div class="nav-section-title">Enterprise Partners</div>
												<!-- added title div -->
												<ul class="list-unstyled no-float-list">
													<li class="mega-menu-item"><a href='/partners/ibm'>IBM</a></li>
													<li class="mega-menu-item"><a
														href='/partners/microsoft'>Microsoft</a></li>
													<li class="mega-menu-item"><a href='/partners/oracle'>Oracle</a></li>
													<li class="mega-menu-item"><a href='/partners/adobe'>Adobe</a></li>
													<li class="mega-menu-item"><a
														href='/partners/salesforce'>Salesforce</a></li>
													<!-- added no-float class -->
												</ul>
											</div>
											<!-- close nav-col div -->
											<div class="nav-col">
												<!-- added nav-col div | no first-col class -->
												<div class="nav-section-title">Strategic Partners</div>
												<!-- added title div -->
												<ul class="list-unstyled">
													<li class="mega-menu-item"><a href='/partners/amazon'>Amazon</a></li>
													<li class="mega-menu-item"><a
														href='/partners/cloudera'>Cloudera</a></li>
													<li class="mega-menu-item"><a
														href='/partners/coremedia'>CoreMedia</a></li>
													<li class="mega-menu-item"><a href='/partners/google'>Google</a></li>
													<li class="mega-menu-item"><a
														href='/partners/hortonworks'>Hortonworks</a></li>
													<li class="mega-menu-item"><a
														href='/partners/informatica'>Informatica</a></li>
													<li class="mega-menu-item"><a href='/partners/insite'>Insite</a></li>
													<li class="mega-menu-item"><a href='/partners/liferay'>Liferay</a></li>
													<li class="mega-menu-item"><a href='/partners/magento'>Magento</a></li>
													<li class="mega-menu-item"><a
														href='/partners/pegasystems'>Pegasystems</a></li>
													<li class="mega-menu-item"><a href='/partners/red-hat'>Red
															Hat</a></li>
													<li class="mega-menu-item"><a
														href='/partners/sitecore'>Sitecore</a></li>
													<li class="mega-menu-item"><a href='/partners/splunk'>Splunk</a></li>
													<li class="mega-menu-item"><a href='/partners/tibco'>TIBCO</a></li>
												</ul>
											</div>
											<!-- close nav-col div -->
										</div>
									</div></li>
								<li class="nav-item "><a href="/work"
									class="nav-link dropdown-toggle" id="servicesMenu"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false"> Work </a>


									<div class="dropdown-menu mega-menu"
										aria-labelledby="servicesMenu">
										<div class="menu-title">
											<a href="/work">Work</a>
										</div>
										<div class="menu-block">
											<ul class="list-unstyled">
												<li class="mega-menu-item"><a href='/work?service=Data'>Data</a></li>
												<li class="mega-menu-item"><a
													href='/work?service=Design'>Design</a></li>
												<li class="mega-menu-item"><a
													href='/work?service=Marketing'>Marketing</a></li>
												<li class="mega-menu-item"><a
													href='/work?service=Operations'>Operations</a></li>
												<li class="mega-menu-item"><a
													href='/work?service=Strategy'>Strategy</a></li>
												<li class="mega-menu-item"><a
													href='/work?service=Technology'>Technology</a></li>
												<li class="mega-menu-item"><a
													href='/work?service=Perficient%2BDigital'>Perficient
														Digital</a></li>
											</ul>
										</div>
									</div></li>
								<li class="nav-item "><a href="/insights"
									class="nav-link dropdown-toggle" id="servicesMenu"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false"> Insights </a>


									<div class="dropdown-menu mega-menu"
										aria-labelledby="servicesMenu">
										<div class="menu-title">
											<a href="/insights">Insights</a>
										</div>
										<div class="menu-block">
											<ul class="list-unstyled">
												<li class="mega-menu-item"><a href="/insights/blogs">Blogs</a></li>
												<li class="mega-menu-item"><a href="/insights/events">Events</a></li>
												<li class="mega-menu-item"><a href="/insights/guides">Guides</a></li>
												<li class="mega-menu-item"><a href="/insights/webinars">Webinars</a></li>
											</ul>
										</div>
									</div></li>


								<!-- END MAIN NAVIGATION -->
							</ul>
						</div>
						<!-- BEGIN UTILITY NAVIGATION -->
						<div class="pull-right utility-nav">
							<sly data-sly-use.data="${'com.perficient.workshop.talon.core.data.GetUrl'}" />

							<ul data-sly-list.item="${data.vanityPaths}">
								<li><a href="${data.vanityPaths[item]}">${item}</a></li>
							</ul>

						</div>
					</div>
					<!-- END UTILITY NAVIGATION -->
				</div>
			</nav>

		</div>
	</div>
<!-- </header> -->